@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "Abstract";
    Layout = null;
}

<h3>Voici les @Model.Count() derniers Articles</h3>

        
  

<ul class="listview fluid ">
@foreach (var post in Model)
{
         <li style="width:620px;"class="border-color-blue outline-color-red">
         <div class="badge  bg-color-white">
             <span class=" bg-color-orange" style="padding:5px;">@post.Title</span>
              <span class=" bg-color-green" style="padding:5px;"> @post.Categorie.Name</span>  
         </div>
          
        <div style="position:relative;float:left;width:400px;padding-top:20px;">
             @Html.Raw(post.Content)
        </div>
         <div style="position:relative;float:left;width:180px;padding-left:20px;">
            <p>Date : @post.Date.ToString("dd/MM/yyyy")</p>
             Tags : <ul>
            @foreach(var tag in post.Tags) {
                <li style="width:175px; margin : 0px; padding : 3px;"><span>@Html.RouteLink(tag.Name,"tag",new { tagId = tag.TagId, name = tag.Name})</span></li>                                 
            }
            </ul>   

            <p>Auteur : @post.Author</p>
             @Html.ActionLink("Lire la suite", "Details", new { id = post.PostId, title = post.Slug}, new { @class="button bg-color-blue" })    
        </div>
        </li>
}
</ul>




